body {
    font-family: 'Work Sans', sans-serif; /* Use Work Sans as the font */
    background-color: #0C233F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    color: #fff;
  }
  
  .header {
    display: flex;
    align-items: center; /* Vertical center alignment for all elements */
    justify-content: space-between;
    width: 520px;
    margin-bottom: 20px;
  }
  
  .back-button {
    background-color: #556479;
    border: none;
    color: #fff;
    font-size: 9px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .back-button:hover {
    color: #E2C47C;
  }
  
  .page-indicator {
    font-size: 16px;
    color: #fff;
    margin-left: auto; /* Push the page indicator to the right */
  }
  
  .content {
    width: 520px;
  }
  
  .question,
  .choice,
  .continue-button,
  .progress-container {
    width: 520px; /* Set the same width for all elements */
  }
  
  .question {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .choice {
    background-color: #556479;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold; /* Set the font weight to bold */
    height: 140px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align content horizontally */
    padding: 0 16px; /* Add some padding for spacing */
    max-width: 100%; /* Ensure the choice doesn't exceed 100% width of its container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: auto 100%; /* Set the image size to auto width and full height */
    background-position: right center; /* Position the image on the right */
  }
  .content#page1 .choice{
    background-image: url("imgs/pg-1-firm-skin.png"); /* Set the image as background */
  }
  
  .continue-button {
    background-color: #E2C47C;
    border: none;
    color: #000;
    font-weight: bold; /* Set the font weight to bold */
    font-size: 20px;
    height: 82px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 480px; /* Make the button take the full width of its container */
    max-width: 100%; /* Ensure the button doesn't exceed 100% width of its container */
    text-decoration: none; /* Remove text decoration */
  }
  
  .skip-button {
    background-color: none;
    border: 1px solid white;
    color: #fff;
    font-weight: bold; /* Set the font weight to bold */
    font-size: 20px;
    height: 82px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 480px; /* Make the button take the full width of its container */
    max-width: 100%; /* Ensure the button doesn't exceed 100% width of its container */
    text-decoration: none; /* Remove text decoration */
  }

  .result{
    border: 1px solid white;
    color: #fff;
    font-weight: bold; /* Set the font weight to bold */
    font-size: 20px;
    height: 82px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 45px;
    width: 480px; /* Make the button take the full width of its container */
    max-width: 100%; /* Ensure the button doesn't exceed 100% width of its container */
    text-decoration: none; /* Remove text decoration */
  }

  .unsure-button {
    background-color: #556479;
    border: 1px solid white;
    color: #fff;
    font-weight: bold; /* Set the font weight to bold */
    font-size: 20px;
    height: 82px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    width: 480px; /* Make the button take the full width of its container */
    max-width: 100%; /* Ensure the button doesn't exceed 100% width of its container */
    text-decoration: none; /* Remove text decoration */
  }
  a.continue-button.disabled {
    background-color: #8D8463;
    opacity: 0.6;
    pointer-events: none; /* Disable pointer events to prevent clicks */
  }
  
  .progress-container {
    width: 520px; /* Set the same width as other elements */
    background-color: #556579;
    height: 12px;
    margin: 0 16px;
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    background-color: #E2C47C;
    transition: width 0.3s;

  }

  .progress-bar#progressBar1{
    animation: progressAnimation1 3s ease forwards; /* Define the animation */
  }
  /* Keyframes for the progress animation */
@keyframes progressAnimation1 {
    0% {
        width: 0%; /* Start with 0% width */
    }
    100% {
        width: 20%; /* End with 10% width (or the desired width) */
    }
}
.progress-bar#progressBar2{
    animation: progressAnimation2 3s ease forwards; /* Define the animation */
  }
  /* Keyframes for the progress animation */
@keyframes progressAnimation2 {
    0% {
        width: 20%; /* Start with 0% width */
    }
    100% {
        width: 40%; /* End with 10% width (or the desired width) */
    }
}
.progress-bar#progressBar3{
    animation: progressAnimation3 3s ease forwards; /* Define the animation */
  }
  /* Keyframes for the progress animation */
@keyframes progressAnimation3 {
    0% {
        width: 40%; /* Start with 0% width */
    }
    100% {
        width: 75%; /* End with 10% width (or the desired width) */
    }
}

.progress-bar#progressBar4{
    animation: progressAnimation4 3s ease forwards; /* Define the animation */
  }
  /* Keyframes for the progress animation */
@keyframes progressAnimation4 {
    0% {
        width: 75%; /* Start with 0% width */
    }
    100% {
        width: 100%; /* End with 10% width (or the desired width) */
    }
}
  
  .choice.selected {
    border: 2px solid #E2C47C; /* Add a solid border for selected choice */
    background-color: #556479; /* Keep the background color for selected choice */
    color: #E2C47C; /* Change the text color for selected choice */
    cursor: not-allowed;
  }
  
  .img-logo{
    margin-bottom: 40px;
  }
  
  /* Custom radio button style */
  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .choice-input {
    display: none; /* Hide the default radio button */
  }
  
  .custom-radio-box {
    width: 20px;
    height: 20px;
    border: 2px solid #556479;
    margin-right: 10px;
    border-radius: 3px;
    background-color: transparent;
    position: relative;
  }
  
  .custom-radio-box::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #556479;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
  }
  
  .choice-input:checked + .custom-radio-box::before {
    transform: translate(-50%, -50%) scale(1);
  }
  /* Add background style to choices on Page 2 with the same width and height as Page 1 */
  .content#page2 .choice.with-checkbox {
    background-color: #556479;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 140px; /* Same height as Page 1 */
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
  }
  .content#page2 .choice.with-checkbox#problem1 {
    background-image: url("imgs/pg-2-thighs.png"); /* Background image for the first choice */
  }
  .content#page2 .choice.with-checkbox#problem2 {
    background-image: url("imgs/pg-2-thin-arms.png"); /* Background image for the first choice */
  }
  .content#page2 .choice.with-checkbox#problem3 {
    background-image: url("imgs/pg-2-loose-neck.png"); /* Background image for the first choice */
  }
  .content#page2 .choice.with-checkbox#problem4 {
    background-image: url("imgs/pg-2-saggy-belly.png"); /* Background image for the first choice */
  }
  
  
  /* Hide the default checkbox */
  .content#page2 .choice input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox */
  .content#page2 .choice-checkbox {
    position: absolute;
    opacity: 0;
  }
  
  /* Style the custom checkbox label */
  .content#page2 .choice-checkbox + label {
    position: relative;
    padding-left: 35px; /* Adjust as needed */
    cursor: pointer;
  }
  
  /* Style the custom checkbox indicator */
  .content#page2 .choice-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    background-color: #556479;
    transition: background-color 0.3s;
  }
  
  /* Style the checkmark when checkbox is checked */
  .content#page2 .choice-checkbox:checked + label::after {
    content: "✓"; /* Add a checkmark character */
    position: absolute;
    top: 50%;
    left: 5px; /* Adjust the left position to place the checkmark inside the box */
    transform: translateY(-50%);
    font-size: 24px; /* Adjust the checkmark size */
    color: #E2C47C; /* Color of the checkmark */
  }
  
  /* Highlight the selected choice on Page 2 */
  .content#page2 .choice.selected {
    border: 2px solid #E2C47C; /* Add a solid border for selected choice */
    background-color: #556479; /* Keep the background color for selected choice */
    color: #fff; /* Change the text color for selected choice */
  }
  
  /* Apply styles for Page 3 similar to Page 2 but without a background */
  .content#page3 .choice.with-checkbox {
    background-color: #556479;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 105px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column; /* Arrange content in a column */
  }
  
  /* Hide the default checkbox on Page 3 */
  .content#page3 .choice input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox on Page 3 */
  .content#page3 .choice-checkbox {
    position: absolute;
    opacity: 0;
  }
  
  /* Style the custom checkbox label on Page 3 */
  .content#page3 .choice-checkbox + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    text-align: left;
  }
  
  /* Style the custom checkbox indicator on Page 3 */
  .content#page3 .choice-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    transition: background-color 0.3s;
  }
  
  /* Style the checkmark when checkbox is checked on Page 3 */
  .content#page3 .choice-checkbox:checked + label::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #E2C47C;
  }
  
  /* Highlight the selected choice on Page 3 */
  .content#page3 .choice.selected {
    border: 2px solid #E2C47C;
    color: #fff;
  }
  
  /* Style the choice content */
  .content#page3 span {
    font-size: 18px;
    color: #fff;
  }
  
  /* Style the choice description */
  .content#page3 .description {
    font-size: 14px;
    color: #ccc;
    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 400;
  }


  /* Apply styles for Page 3 similar to Page 2 but without a background */
  .content#page4 .choice.with-checkbox {
    background-color: #556479;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 105px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column; /* Arrange content in a column */
  }
  
  /* Hide the default checkbox on Page 3 */
  .content#page4 .choice input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox on Page 3 */
  .content#page4 .choice-checkbox {
    position: absolute;
    opacity: 0;
  }
  
  /* Style the custom checkbox label on Page 3 */
  .content#page4 .choice-checkbox + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    text-align: left;
  }
  
  /* Style the custom checkbox indicator on Page 3 */
  .content#page4 .choice-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    transition: background-color 0.3s;
  }
  
  /* Style the checkmark when checkbox is checked on Page 3 */
  .content#page4 .choice-checkbox:checked + label::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #E2C47C;
  }
  
  /* Highlight the selected choice on Page 3 */
  .content#page4 .choice.selected {
    border: 2px solid #E2C47C;
    color: #fff;
  }
  
  /* Style the choice content */
  .content#page4 span {
    font-size: 18px;
    color: #fff;
  }
  
  /* Style the choice description */
  .content#page4 .description {
    font-size: 14px;
    color: #ccc;
    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 400;
  }
  /* Style the result description */
  .result-description {
    font-size: 14px !important;
    color: #ccc;
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
  }
  @media (max-width: 475px) {
    body {
        padding: 10px; /* Reduce padding for smaller screens */
      }
    
      /* Adjust the content width and margins */
      .content {
        max-width: 335px; /* Set the maximum width for content */
        margin: 20px; /* Add 20px margins on each side */
        overflow: hidden;
      }
    
  
    .header {
      width: 85%; /* Make the header full width */
    }
  
    .continue-button,
    .skip-button,
    .unsure-button {
      width: 100%; /* Make buttons full width */
      padding: 10px; /* Adjust padding for buttons */
      font-size: 16px; /* Adjust font size for buttons */
      height: 50px; /* Adjust height for buttons */
      margin-bottom: 10px; /* Add some margin between buttons */
      max-width: 313px;
    }
    .result{
        width: 90%; /* Make buttons full width */
      padding: 10px; /* Adjust padding for buttons */
      font-size: 16px;
        height: auto;
        margin-bottom: 10px; /* Add some margin between buttons */
    }
    .question {
      font-size: 20px; /* Adjust font size for questions */
    }
  
    .choice {
      font-size: 16px; /* Adjust font size for choices */
    }
  
    .progress-container {
      width: 100%; /* Make progress container full width */
    }
  
    /* Add any other mobile-specific styles here */
  
    /* Example: Hide background images for choices on mobile */
    .choice.with-checkbox {
      background-image: none;
    }
  }